<h1>Sorry, <%= @result.creature.name %> died.</h1>

<%= @result.cause_of_death %><br>
<%= @result.location.name %><br>
<%= @result.creature.size %><br>
<%=link_to "Home", '/home' %>
<%# link to leaderboard %>
