
<div class="jumbotron"> <h1>Hi, <%= @user.name %>!</h1></div>
  <div class="col-md-12">
    <h3>Start a New Game</h3> <br>
      <%= form_for @user.creatures.build do |f| %>
        <%= f.label :name, "Name your creature:" %>
        <%= f.text_field :name%>
        <%= f.submit 'New Game', class: "btn btn-secondary" %>
      <% end %>
      <br><br>
    <h4>Results:</h4>
    <%= render "/results/list" %>
  <br><br><br><br>
    <%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
      <input type=submit value='Logout', class="btn btn-secondary">
    <% end %>
  </div>
