<h1><%= @location.name %></h1>
<%= session[:creature][:name] %>
<% @location.edibles.each do |edible| %>
  <% if edible.eaten == false %>
    <%= edible.name %>
    <%=form_tag(edible_path(edible), method: :put) do %>
    <%= hidden_field_tag :edible_id, edible.id%>
    <%=submit_tag "Eat"  %>
    <% end %>
  <% end %>
<% end %>
