
<style>
  strong {font-weight:800;
    font-size: 1.25em;
  }
  b {font-weight: 600}
</style>

    <div class="jumbotron jumbotron-fluid" style="background: url('/assets/<%=@location.name.downcase%>.jpg') no-repeat left center #eee ">
      <div class="container-fluid">
            <h1 class="display-1" id="jumbo-text"><%= @location.name %></h1><br>
            <% flash.each do |key, value| %>
             <p><%= value %></p>
           <% end %>

            <div class="lead" id="jumbo-text" >
            <strong><%= @creature.name %>'s stats:</strong>
            <ul>
            <li><b>Size:</b> <%= @creature.size_to_string %> </li>
            <li><b>Type:</b> <%= @creature.creature_type %></li>
            <li><b>Can fly:</b> <%= @creature.fly ? "yep" : "nope" %></li>
            <li><b>Can swim:</b> <%= @creature.swim ? "yep" : "nope" %></li>
          </ul>
        </div>
        </div>
      </div>
<br><br>
        <div class="container-fluid">
          <!-- <div class="row"> -->

            <% @location.edibles.each do |edible| %>
              <% if !edible.eaten %>
              <div class="item">
                  <%= form_tag(edible_path(edible), method: :put) do %>
                    <%=label_tag edible.name %>
                    <%= hidden_field_tag :edible_id, edible.id%>
                    <%=submit_tag "Eat", class: "btn btn-secondary" %>
                  </div>
                  <% end %>
                <% end %>
              <% end %>

            <% if @location.id != 1 %>
              <div class="item">
                 <h4>Where u wanna go?</h4>
                  <%= form_tag '/next', method: :post do %>
                  <%= collection_select(:next, :next_id, Location.all, :id,:name)%>
                  <%= submit_tag "Go", class: "btn btn-secondary" %>
                </div>
                <% end %>
              <% end %>
          <% if !@location.decisions.empty? %>
            <% @location.decisions.each do |decision| %>
            <div class="item">
                <%= form_tag(decision_path(decision), method: :put) do %>
                <p><%= decision.content %></p>
                <%= hidden_field_tag :decision_id, decision.id%>
                <%=submit_tag "Pick me!" ,class: "btn btn-secondary"  %>
              </div>
              <% end %>
            <% end %>
            <% end %>
        <!-- </div> -->
      </div>
